.team-boxed {
    color:#313437;
    background-color:#eef4f7;
  }
  
  .container {
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
  }
  
  .team-boxed .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }

 
  
  .team-boxed .people {
    padding:50px 0;
  }
  
  .team-boxed .item {
    text-align:center;
  }
  
  @media (min-width:992px) {
    .col-lg-4 {
      -ms-flex:0 0 33.33333%;
      flex:0 0 33.33333%;
      max-width:33.33333%;
    }
  }
  
  @media (min-width:768px) {
    .col-md-6 {
      -ms-flex:0 0 50%;
      flex:0 0 50%;
      max-width:50%;
    }
  }
  
  .team-boxed .item .box {
    text-align:center;
    padding:30px;
    background-color:#fff;
    margin-bottom:30px;
    height: 500px;
  }
  
  .team-boxed .item img {
    max-width:160px;
  }
  
  .rounded-circle {
    border-radius:50%!important;
  }
  
  img {
    vertical-align:middle;
    border-style:none;
  }
  
  .team-boxed .item .name {
    font-weight:bold;
    margin-top:28px;
    margin-bottom:8px;
    color:inherit;
  }
  
  .h3, h3 {
    font-size:1.75rem;
  }
  
  .team-boxed .item .title {
    text-transform:uppercase;
    font-weight:bold;
    color:#d0d0d0;
    letter-spacing:2px;
    font-size:13px;
  }
  
  .team-boxed p {
    color:#7d8285;
  }
  
  p {
    margin-top:0;
    margin-bottom:1rem;
  }
  
  .team-boxed .item .description {
    font-size:15px;
    margin-top:15px;
    margin-bottom:20px;
  }
  
  .team-boxed p {
    color:#7d8285;
  }
  
  .team-boxed .people {
    padding:50px 0;
  }
  
 
  
                        