.footer{
    background-color: gray;
    height: 60px;
    margin-bottom: 0px;
    padding-top: 20px;
}
.img-acc{
    background-image: url("../images/cessna-accueil2.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    margin: 0 auto;
    bottom: 0;
    vertical-align: bottom;
    padding-top: 720px;
}
.img-acc2{
    background-image: url("../images/cessna-accueil.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    margin: 0 auto;
    bottom: 0;
    vertical-align: bottom;
}
.presentation-projet{
    height: 500px;
}

.row.acc{
    margin-top: 20px;
}
.col-4.obj-acc{
    border-style: solid;
    border-radius: 10%;
}
.container.arborescence{
    margin-top: 80px;
    margin-bottom: 80px;
}

h3
{
	padding-bottom:5px;
}

/*Page MaterielADisposition*/

#text-materiel
{
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 80px;
	margin-bottom: 80px;
}

#volant
{
	padding-top:5px;
	padding-bottom:10px;
}

td
{
    vertical-align:center;
    text-align:center;
}

.img-materiel
{
    max-height:300px;
    width:auto;

}
h1.titre{
    color: rgba(0,0,0,1);
    margin-right: 90px;
    margin-left: 90px;
    margin-bottom: 0px !important;
    background-color: rgba(181,181,181,0.7);
    font-size: 41px;
    border: rgba(0,0,0,0.7) solid 2px;
    -moz-box-shadow: 10px 10px 5px 0px #656565;
    -webkit-box-shadow: 10px 10px 5px 0px #656565;
    -o-box-shadow: 10px 10px 5px 0px #656565;
    box-shadow: 10px 10px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
}
