.footer{
    background-color: gray;
    height: 60px;
    margin-bottom: 0px;
    padding-top: 20px;
}
.img-acc{
    background-image: url("../images/cessna-accueil2.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    margin: 0 auto;
    bottom: 0;
    vertical-align: bottom;
    padding-top: 45px;
}
.img-acc2{
    background-image: url("../images/cessna-accueil.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    margin: 0 auto;
    bottom: 0;
    vertical-align: bottom;
}

.presentation-projet
{
    color: rgb(65, 3, 3);
    padding: 20px;
}

h1
{
    color: rgb(65, 3, 3);
    text-align: center;
}
.row.acc{
    margin-top: 20px;
}
.col-4.obj-acc{
    border-style: solid;
    border-radius: 10%;
}
.container.arborescence{
    margin-top: 80px;
    margin-bottom: 80px;
}

h3
{
	padding-bottom:5px;
}

h4
{
    color:#C0C0C0;
}

/*Page MaterielADisposition*/

#text-materiel
{
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 80px;
	margin-bottom: 80px;
}

#volant
{
	padding-top:5px;
	padding-bottom:10px;
}

td
{
    vertical-align:center;
    text-align:center;
}

.img-materiel
{
    max-height:300px;
    width:auto;
}
#grayBack 
{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: black;
     z-index: 1999;
     opacity: 0.5;
}

#customPopup 
{
    position: fixed;
     display: none;
     left: 15%;
     top: 10%;
     z-index: 20;
     padding: 20px;
     width: 560px;
     background-color: #EEEEEE;
     font-size: 12px;
     line-height: 16px;
     color: #202020;
     border : 3px outset #555555;

}
video {
    z-index: 30;
    width: auto;
    height: 500px;
}

h1.titre{

    color: #1f2a40;
    margin-right: 90px;
    margin-left: 90px;
    margin-bottom: 0px !important;
    font-size: 41px;

    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
} 


.legende
{
    padding-bottom:1px;
} 

#sous-item
{
    color:#C0C0C0;
}
.ctext{
    padding-left: 100px;
    padding-right: 100px;
}